body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
section {
    padding: 0 129px 0 86px;
}
img {
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
hr {
    width: 1022px;
}
.comments-header {
    display: flex;
    flex-wrap: nowrap;
    height: max-content;
    align-items: baseline;
    gap: 50px;

}
.block-filling,
.block-nickname,
.input-sending,
.block-nickname-date,
.block-comment-btn {
    display: flex;
}
.block-filling {
    width: 1022px;
    gap: 30px;
    margin-bottom: 40px;
}
.block-nickname {
    width: 688px;
    justify-content: space-between;
}
.input-sending {
    gap: 30px;
}
#text-comment,
#response-text {
    width: 688px;
    height: 61px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);

}
.btn-send {
    border: none;
    width: 213px;
    height: 61px;
    border-radius: 5px;
    background: #cccbcb;
    color: #525050;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name {
    text-decoration: none;
    color: #122AC0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.data {
    text-decoration: none;
    opacity: 0.4;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
#sorting-select {
    text-decoration: none;
    border: none;
    border-bottom: 1px solid;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}
option {
    text-decoration: none;
}
.comments-header_p {
    border-bottom: 1px solid;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}
.comments-header_p:hover,
#sorting-select:hover {
    opacity: 1;
}
.text-comment {
    width: 916px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-break: break-all;
}
.icon {
    width: 22px;
    height: 22px;
}
.block-nickname-date {
    gap: 15px;
    align-items: center;
}
.block-comment-btn {
    gap: 20px;
}
.btn-answer,
.btn-favorites {
    border: none;
    display: flex;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
    background-color: #FFF;
}
.btn-answer:hover,
.btn-favorites:hover {
    opacity: 1;
    background-color: #FFF;
}
.comment {
    gap: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 1022px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.block-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.response-to-a-comment {
    width: 916px;
    display: flex;
    gap: 30px;
}
.text-response-comment {
    width: 825px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.number-characters,
.date {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}
@media screen and (max-width: 320px) {
    .comments-header {
        display: none;
    }
}